<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #FBFCFF;
        color: #fff;
    }

    .bg-flat-container-dark {
        background-color: #21223B;
    }

    .outline-dark {
        background-color: #21223B;

    }

    .bg-flat-container>.row>.col-md-6 {
        padding: 10px;
    }

    .bg-flat-container>.row>.result {
        background-color: #9b449b;
    }

    .bg-flat-container {
        background-color: #4F518C;
    }

    .bg-flat-container-light {
        background-color: rgb(150, 98, 223);
    }

    .flat-container-header {
        box-shadow: 10px 10px #2F1847;
        padding: 60px;
    }

    .flat-container {
        box-shadow: 10px 10px #2F1847;
        padding: 60px 0px;

    }

    .flat-container-top {
        box-shadow: 10px 10px #2F1847;
        margin-top: 60px;
        padding: 60px;
    }

    .flat-container-bot {
        box-shadow: 10px 10px #2F1847;
        margin-bottom: 60px;
        padding: 60px;
    }

    /*lista title*/
    .lista-consultada-title {
        /*padding: 60px 0px;*/
        padding: 0px 60px;

    }

    .lista-consultada {
        /*padding: 60px 0px;*/
        background-color: #7D53DE;

    }

    .lista-consultada-title h1 {
        /*padding: 60px 0px;*/
        color: white;
        font-family: 'Monoton', cursive;
        letter-spacing: 10px;
        font-size: 35px;

    }

    .btn-primary {
        border-radius: 0px !important;
        background-color: #7D53DE;
        border-color: #7D53DE;
    }

    .btn-primary:hover {
        border-radius: 0px !important;
        background-color: #9662df;
        border-color: #9662df;

    }

    /*alert=====================================*/
    .alert-primary {
        color: #4F518C;
        background-color: #e2d4f5;
        border-color: #9b449b;
    }
</style>